
#j_idt41\:j_idt43_title-filtre{
	background-color: rgb(255, 239, 213) !important;
}

#j_idt41\:j_idt43 > div > h3{
	background-color: #e95420;
	color: white;
}
.bodydivwithoutfooter {
	min-height: 65rem;
}

.container-menubar-left {
	display: flex;
}

.menubar-left {
	margin: auto;
}

.sticky-left {
	position: fixed;
	z-index: 99999;
}

#clientbody {
	background-color: rgb(250, 240, 230);
	justify-content: center;
	align-items: center;
	min-height: 100%;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;
}





.div-pic-block-countain {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 26rem;
	height: 10rem;
}

#displayhotelpics {
	padding: 0.5rem;
	width: 26rem;
	height: auto;
}

.div-heigh-50rem {
	height: 50rem;
}

#mes-avis-title {
	font-size: 25px;
}
#mon-profil-title {
	font-size: 25px;
}
#mes-avis-title {
	font-size: 25px;
}

#mes-reservation-title {
	font-size: 25px;
}

.centrer-column {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.iconclient {
	width: 30rem;
	height: 30rem;
}

.display-client-option {
	width: 100%;
	height: 50rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.ui-hidden-container {
	background-color: rgb(255, 239, 213) !important;
}

.btn-detail-clientmain {
	padding: 10px !important;
	width: 16rem !important;
}

#pic-hotel-display {
	display: flex;
}

#loginForm2\:loginheader {
	font-size: 30px;
	font-style: italic;
	margin-top: 3rem;
}

#loginForm2\:j_idt35>label {
	font-size: 20px;
}

#loginForm2\:j_idt37>label {
	font-size: 20px;
}

#login {
	width: 224px !important;
}

#password {
	width: 224px !important;
}

#loginForm2\:j_idt35 {
	width: 100%;
}

#loginForm2\:j_idt38 {
	width: 100%;
}

#loginForm2 {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

#logincard {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50rem;
	width: 35rem;
}

.right-side-button {
	display: flex;
	justify-content: flex-end;
}

#pic-hotel-display {
	max-width: 20rem !important;
	max-height: 25rem !important;
	padding: 1rem;
	flex-direction: row !important;
}

.div-pics1 {
	flex-direction: column !important;
	width: 26rem;
	height: 19rem;
	border-radius: 1rem;
}

.navbar-textarea-size {
	max-width: 16rem;
}

.webtitre {
	text-align: center;
	color: #e95420;
}

.webfooter {
	text-align: center;
	min-height: 2rem !important;
}

#logincard {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.textarealogin {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.buttonslogin {
	background-color: aqua;
	padding: 1rem;
}