<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<h:head>
	<link rel="icon" type="image/png"
		href="#{request.contextPath}/resources/pictures/icon.ico" />
	<ui:insert name="head"></ui:insert>
	<h:outputStylesheet library="css" name="style.css" position="last" />
</h:head>


<h:body id="clientbody">
	<div class="bodydivwithoutfooter">
	<b:navBar brand="CosyBedReservation™" brandHref="#" fluid="true" id="navbarfix2">

		<b:navbarLinks>
			<b:navLink value="Bonjour #{mbClientAccount.client.name}"
				rendered="#{mbClientAccount.isConnected()}"></b:navLink>
			<b:navLink value="Mon compte" icon-awesome="user" href="client.xhtml"
				rendered="#{mbClientAccount.isConnected()}"></b:navLink>
			<b:navLink value="Inscription" icon-awesome="plus"
				rendered="#{mbClientAccount.isNotConnected()}"
				href="newclientprofil.xhtml"></b:navLink>
			<b:navLink value="Connexion" icon-awesome="compress"
				href="login.xhtml" rendered="#{mbClientAccount.isNotConnected()}"></b:navLink>


			<b:navLink value="Accueil" icon-awesome="home"
				href="/clientmain.xhtml?faces-redirection=true"></b:navLink>
		</b:navbarLinks>


		<b:form class="navbar-form navbar-left hidden-md hidden-sm hidden-xs"
			role="search">
			<div class="form-group navbar-textarea-size">
				<b:inputText value="#{mbHotel.city}" type="text"
					class="form-control  navbar-textarea-size"
					placeholder="Destination" style="max-width: 13rem;"
					rendered="#{mbHotel.cityIsNull(mbHotel.city)}" />
			</div>
			<div class="form-group navbar-textarea-size">
				<b:inputText value="#{mbHotel.city}" type="text"
					class="form-control  navbar-textarea-size"
					placeholder="#{mbHotel.outputcity}" style="max-width: 13rem;"
					rendered="#{mbHotel.cityIsNotNull(mbHotel.city)}" />
			</div>

			<div class="form-group navbar-textarea-size">
				<b:inputText value="#{mbHotel.numberguest}" type="text"
					class="form-control  navbar-textarea-size"
					placeholder="Nomb voyageur" style="max-width: 13rem;"
					rendered="#{mbHotel.capacityIsNull(mbHotel.numberguest)}" />
			</div>
			<div class="form-group navbar-textarea-size">
				<b:inputText value="#{mbHotel.numberguest}" type="text"
					class="form-control  navbar-textarea-size"
					placeholder="#{mbHotel.outputnumberguest}" style="max-width: 13rem;"
					rendered="#{mbHotel.capacityIsNotNull(mbHotel.numberguest)}" />
			</div>

			<div class="form-group  navbar-textarea-size">
				<b:dateTimePicker format="DD/MM/YYYY" locale="fr"
					value="#{mbHotel.checkin}" placeholder="Arrivée"
					rendered="#{mbHotel.checkinIsNull(mbHotel.checkin)}" style="max-width: 13rem;"/>
			</div>
			<div class="form-group  navbar-textarea-size">
				<b:dateTimePicker format="DD/MM/YYYY" locale="fr"
					value="#{mbHotel.checkin}" placeholder="#{mbHotel.checkindate}"
					rendered="#{mbHotel.checkinIsNotNull(mbHotel.checkin)}" style="max-width: 13rem;"/>
			</div>

			<div class="form-group  navbar-textarea-size">
				<b:dateTimePicker format="DD/MM/YYYY" locale="fr"
					value="#{mbHotel.checkout}" placeholder="Départ"
					rendered="#{mbHotel.checkoutIsNull(mbHotel.checkout)}" style="max-width: 13rem;"/>
			</div>
			<div class="form-group  navbar-textarea-size">
				<b:dateTimePicker format="DD/MM/YYYY" locale="fr"
					value="#{mbHotel.checkout}" placeholder="#{mbHotel.checkoutdate}"
					rendered="#{mbHotel.checkoutIsNotNull(mbHotel.checkout)}" style="max-width: 13rem;"/>
			</div>
			<div class="form-group  navbar-textarea-size">
				<b:commandButton type="submit" class="btn btn-default"
					action="#{mbHotel.researchHotel()}" value="Rechercher" />
			</div>
		</b:form>



		<b:form pull="right"
			class="navbar-form navbar-left hidden-md hidden-sm hidden-xs"
			role="search">
			<b:commandButton type="submit" class="btn btn-default"
				rendered="#{mbClientAccount.isConnected()}"
				action="#{mbClientAccount.disconnect()}" style="max-width: 11rem;">Déconnecter</b:commandButton>
		</b:form>





		<!-- 		<b:navbarLinks pull="right" styleClass="hidden-xs"> -->
		<!-- 			<b:navLink value="Link" href="#"></b:navLink> -->
		<!-- 			<b:dropMenu value="Dropdown"> -->
		<!-- 				<b:navLink value="Action" href="#"></b:navLink> -->
		<!-- 				<b:navLink value="Another action" href="#"></b:navLink> -->
		<!-- 				<b:navLink value="Something else here" href="#"></b:navLink> -->
		<!-- 				<b:navLink></b:navLink> -->
		<!-- 				<b:navLink header="Nav header"></b:navLink> -->
		<!-- 				<b:navLink value="Separated link" href="#"></b:navLink> -->
		<!-- 				<b:navLink value="One more separated link" href="#"></b:navLink> -->
		<!-- 			</b:dropMenu> -->
		<!-- 		</b:navbarLinks> -->
	</b:navBar>
	<b:message for="researchoptions" rendered="#{mbHotel.cityIsNull(mbHotel.city)}"/>
	<b:message for="NeedCheckinCheckoutMsg" rendered="#{mbHotel.checkoutAndCheckinAreNotNull()}"/>


	<b:container>
		<b:form id="ReserchForm"></b:form>
		<ui:insert name="body"></ui:insert>

	</b:container>
	<script type="text/javascript" src="resources/javascript/script2.js"></script>
	</div>	
	<div class="webfooter">
		<h6>cosy bed reservation™ - 2022</h6>
		<h6>Copyright © www.cbr.com. Tous droits réservés.</h6>
	</div>
</h:body>

</html>