<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/clientmaintemp.xhtml">
	<ui:define name="head">
		<title>Welcome to CBS</title>
	</ui:define>

	<ui:define name="body">
	
		
	

	
		<ui:repeat value="#{mbHotel.allhotels}" var="Hotels">

			<b:container fluid="true">
				<b:panelGrid colSpans="12" id="stateGridId"
					large-screen="full-width">


					<b:panel title="#{Hotels.hotelname.toUpperCase()}  " look="primary">

						<b:row>
							<b:column span="10">
								<h:outputLabel
									value="#{Hotels.streetnumber} #{Hotels.streetname}#{Hotels.complement}, #{(Hotels.getCity()).getCityname()}" />
							</b:column>
							<b:column span="2">
								<h:outputLabel
									value="Note: #{mbHotel.calculateAverageRating(Hotels.getIdhotel())} / 5" />
							</b:column>
						</b:row>

						<b:row>
							<b:column span="10">
								<h:outputLabel
									value="Capacité de chambre: #{Hotels.chambercount}" />
							</b:column>
							<b:column span="2">
								<h:outputLabel
									value="À partir de: #{mbBedroom.findMiniPrice(Hotels.getIdhotel())}€" />
							</b:column>
						</b:row>


						<div>
							<h:outputLabel value="Résumé: #{Hotels.resume}"
								style="font-style: italic;" />
						</div>

						<div class="div-pics1" id="pic-hotel-display">
							<ui:repeat value="#{Hotels.photos}" var="pics">
								<div class="div-pic-block-countain">
									<b:image library="pictures" name="#{pics.photoname}"
										id="displayhotelpics"
										style="width:26rem; height:17rem; padding: 1rem;border-radius: 1.5rem;" />
								</div>
							</ui:repeat>
						</div>

						<div>
							<b:form class="right-side-button">
								<b:commandButton type="submit"
									class="btn btn-primary  btn-info buttonslogin btn-detail-clientmain"
									value="Découvrir"
									action="#{mbBedroom.FindBedroomByIdhotel(Hotels.idhotel)}" />
							</b:form>
						</div>

					</b:panel>

				</b:panelGrid>
			</b:container>






			<!-- 			<div class="card border-primary mb-3" style="max-width: 150rem;"> -->
			<!-- 				<div class="card-header"></div> -->
			<!-- 				<div class="card-body"> -->
			<!-- 					<h6 class="card-title">Capacité de chambre: -->
			<!-- 						#{Hotels.chambercount}</h6> -->
			<!-- 					<h6 class="card-title">id hotel: #{Hotels.idhotel}</h6> -->
			<!-- 					<p class="card-text">#{Hotels.resume}</p> -->
			<!-- 					<b:form> -->
			<!-- 						<b:commandButton type="submit" -->
			<!-- 							class="btn btn-primary btn-lg btn-info buttonslogin" -->
			<!-- 							value="Détail" -->
			<!-- 							action="#{mbBedroom.FindBedroomByIdhotel(Hotels.idhotel)}" /> -->
			<!-- 					</b:form> -->
			<!-- 				</div> -->
			<!-- 			</div> -->

	
		</ui:repeat>

	</ui:define>

</ui:composition>

</html>