<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/clienttemp.xhtml">

	<ui:define name="head">
		<title>Mon compte</title>
	</ui:define>

	<ui:define name="body">
		<div class="display-client-option">

			<b:form>
				<div class="centrer-column">
					<h:graphicImage value="/resources/pictures/reservation.png"
						class="iconclient" />

					<b:commandButton
						class="btn btn-primary btn-lg btn-info buttonslogin "
						value="Mes réservations"
						action="#{mbClientAccount.getReservationByClient()}" style="width: 20rem;"/>
				</div>
			</b:form>

			<b:form>
				<div class="centrer-column">
					<h:graphicImage value="/resources/pictures/userprofil.png"
						class="iconclient" />
					<b:commandButton
						class="btn btn-primary btn-lg btn-info buttonslogin"
						value="Mon profil" action="/clientprofil.xhtml" style="width: 20rem;"/>
				</div>
			</b:form>
			<b:form>
				<div class="centrer-column">
					<h:graphicImage value="/resources/pictures/rating.png"
						class="iconclient" />
					<b:commandButton
						class="btn btn-primary btn-lg btn-info buttonslogin"
						value="Mes avis" action="#{mbClientAccount.getClientReviews()}" style="width: 20rem;"/>
				</div>
			</b:form>
		</div>
	</ui:define>
</ui:composition>
</html>
