<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/clienttemp.xhtml">
	<ui:define name="head">
		<title>Editer mon profil</title>
	</ui:define>
	<ui:define name="body">

		<div>
			<b:form>
				<fieldset>
					<legend id="mon-profil-title">Mon profil</legend>


					<div class="form-group">
						<fieldset>
							<label class="control-label" for="readOnlyInput">Login</label> <input
								class="form-control" id="readOnlyInput" type="text"
								placeholder="#{mbClientAccount.client.getLogin()}" readonly=""></input>
						</fieldset>
					</div>

					<div class="form-group">
						<label for="exampleInputPassword1">Mot de passe</label>
						<b:inputText type="password" class="form-control"
							value="#{mbClientAccount.password}"></b:inputText>
					</div>

					<div class="form-group">
						<label>Nom</label> <input type="email" class="form-control"
							placeholder="#{mbClientAccount.client.getSurname()}" readonly=""></input>
						<!-- 		<small  class="form-text text-muted">Nous ne -->
						<!-- 		partagerons jamais votre information personelle avec quelqu'un d'autre</small> -->
					</div>

					<div class="form-group">
						<label>Prénom</label> <input class="form-control"
							placeholder="#{mbClientAccount.client.getName()}" readonly=""></input>
						<!-- 		<small class="form-text text-muted">Nous ne -->
						<!-- 		partagerons jamais votre information personelle avec quelqu'un d'autre</small> -->
					</div>

					<div class="form-group">
						<label>Date de naissance</label> <input class="form-control"
							placeholder="#{mbClientAccount.client.getBirthday()}" readonly=""></input>
						<!-- 		<small  class="form-text text-muted">Nous ne -->
						<!-- 		partagerons jamais votre information personelle avec quelqu'un d'autre</small> -->
					</div>

					<div class="form-group">
						<label>Adresse mail</label>
						<b:inputText class="form-control"
							placeholder="#{mbClientAccount.client.getMailadress()}"
							value="#{mbClientAccount.adressmail}"></b:inputText>
						<!-- 			<small -->
						<!-- 			class="form-text text-muted">Nous ne partagerons jamais votre -->
						<!-- 		information personelle avec quelqu'un d'autre</small> -->
					</div>

					<div class="form-group">
						<label>Numéro de téléphone</label>
						<b:inputText class="form-control"
							placeholder="#{mbClientAccount.client.getPhonenumber()}"
							value="#{mbClientAccount.phonenumber}"></b:inputText>
						<!-- 			<small -->
						<!-- 			class="form-text text-muted">Nous ne partagerons jamais votre -->
						<!-- 		information personelle avec quelqu'un d'autre</small> -->
					</div>



					<!-- 		<div class="form-group"> -->
					<!-- 		<label for="exampleInputFile">Importer photo de profil</label> <input -->
					<!-- 			type="file" class="form-control-file" id="exampleInputFile" -->
					<!-- 			aria-describedby="fileHelp"></input> <small id="fileHelp" -->
					<!-- 			class="form-text text-muted">fichier uniquement en format -->
					<!-- 		.PNG ou .JPEG</small> -->
					<!-- 		</div> -->

					<!-- 		<fieldset class="form-group"> -->
					<!-- 		<legend>Notification</legend> -->
					<!-- 		<div class="form-check"> -->
					<!-- 		<label class="form-check-label"> <input type="radio" -->
					<!-- 			class="form-check-input" name="optionsRadios" id="optionsRadios1" -->
					<!-- 			value="option1" checked=""> Recevoir des offres -->
					<!-- 		promotionnelles par EMAIL et SMS</input> -->
					<!-- 		</label> -->
					<!-- 		</div> -->
					<!-- 		<div class="form-check"> -->
					<!-- 		<label class="form-check-label"> <input type="radio" -->
					<!-- 			class="form-check-input" name="optionsRadios" id="optionsRadios2" -->
					<!-- 			value="option2"> Recevoir des offres promotionnelles -->
					<!-- 		uniquement par EMAIL</input> -->
					<!-- 		</label> -->
					<!-- 		</div> -->
					<!-- 		<div class="form-check disabled"> -->
					<!-- 		<label class="form-check-label"> <input type="radio" -->
					<!-- 			class="form-check-input" name="optionsRadios" id="optionsRadios3" -->
					<!-- 			value="option3"> Ne pas recevoir d'offre du tout</input> -->
					<!-- 		</label> -->
					<!-- 		</div> -->
					<!-- 		</fieldset> -->



					<fieldset class="form-group">
						<legend>Checkboxes</legend>
						<div class="form-check">
							<label class="form-check-label"> <input
								class="form-check-input" type="checkbox" value="" checked=""
								disabled=""> J'accepte les conditions générales
									d'utilisation</input>
							</label>
						</div>
					</fieldset>

					<b:commandButton type="submit" class="btn btn-primary"
						value="Enregistrer" action="#{mbClientAccount.updateClient()}" />


				</fieldset>
			</b:form>
		</div>
	</ui:define>
</ui:composition>
</html>
