<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/clienttemp.xhtml">
	<ui:define name="head">
		<title>Mes réservations</title>
	</ui:define>

	<ui:define name="body">
		<h:outputLabel value="Mes réservations" id="mes-reservation-title"/>
		<div>
			<ui:repeat value="#{mbClientAccount.reservations}" var="res">
				
				<b:container fluid="true">
					<b:panelGrid colSpans="12" id="stateGridId"
						large-screen="full-width">


						<b:panel title="Numéro réservation: #{res.idreservation}" look="primary">

							<div>
								<h:outputText
									value="hôtel : #{res.bedroom.hotel.getHotelname()}" />
							</div>

							<div>
								<h:outputText value="arrivée: #{res.checkindate}" />
							</div>
							<div>
								<h:outputText value="départ: #{res.checkoutdate}" />
							</div>
							<div>
								<h:outputText
									value="État: #{mbClientAccount.statusReservation(res)}" />
							</div>


							<div>
								<b:form class="right-side-button">
									<b:commandButton type="submit"
										class="btn btn-primary btn-lg btn-info buttonslogin"
										value="annuler la réservation"
										action="#{mbClientAccount.cancelReservation(res.idreservation)}"
										rendered="#{mbClientAccount.reservationCheck(res)}" />
									<b:commandButton type="submit"
										class="btn btn-primary btn-lg btn-info buttonslogin"
										value="Donnez votre avis"
										action="#{mbClientAccount.getChosenRservation(res)}"
										rendered="#{mbClientAccount.WriteReviewCheck(res)}" />
								</b:form>
							</div>

						</b:panel>

					</b:panelGrid>
				</b:container>




			</ui:repeat>
		</div>
	</ui:define>
</ui:composition>
</html>
