<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/clienttemp.xhtml">
	<ui:define name="head">
		<title>Mes avis</title>
	</ui:define>
	<ui:define name="body">
		<h:outputLabel value="Mes Avis" id="mes-avis-title"/>

		<ui:repeat var="Avis" value="#{mbClientAccount.reviews}">
						<b:container fluid="true">
					<b:panelGrid colSpans="12" id="stateGridId"
						large-screen="full-width">


						<b:panel title="Numéro réservation: #{Avis.reservation.getIdreservation()}"          
						
						
						look="primary">

							<div>
								<h:outputText
									value="Hôtel: #{mbHotel.reserchHotelByIdhotel(Avis.getReservation().idreservation).getHotelname()}"  />
							</div>
							<div>
								<h:outputText
									value="Arrivé: #{Avis.reservation.getCheckindate()}" />
							</div>

							<div>
								<h:outputText
									value="Départ: #{Avis.reservation.getCheckoutdate()}  " />
							</div>

							<div>
								<h:outputText
									value="Note: #{Avis.rating}" />
							</div>

							<div>
								<h:outputText value="Commentaire: #{Avis.comment}" />
							</div>
							
						</b:panel>

					</b:panelGrid>
				</b:container>
			
		</ui:repeat>

	</ui:define>
</ui:composition>
</html>
