<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<h:head>
	<ui:insert name="head"></ui:insert>
	<h:outputStylesheet library="css" name="style.css" />
</h:head>


<h:body>
	<b:container>
		<b:navBar brand="hi #{mbClientAccount.client.getName()}">
			<b:navbarLinks>
				<b:form>

					<b:row>
						<b:column span="5">
							<b:navLink value="Accueil" icon-awesome="home"
								href="clientmain.xhtml" />
						</b:column>

						<b:column span="5">
							<b:navLink value="Mon compte" icon-awesome="user"
								href="client.xhtml" />
						</b:column>
						<b:column span="5">
							<b:navLink value="Connexion" icon-awesome="key"
								href="login.xhtml" />
						</b:column>
						<b:column span="5">
							<b:navLink value="Déconnexion" icon-awesome="times"
								action="#{mbClientAccount.disconnect()}" />
						</b:column>
					</b:row>
				</b:form>


			</b:navbarLinks>
		</b:navBar>
	</b:container>



	<b:container>
		<ui:insert name="body"></ui:insert>

	</b:container>


	<div class="webfooter">
		<h6>cosy bed reservation - 2022</h6>
		<h6>Copyright © www.cbr.com™. Tous droits réservés.</h6>
	</div>
</h:body>

</html>