<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/clienttemp.xhtml">
	<ui:define name="head">
		<title>Confirmation de votre annulation</title>
	</ui:define>
	<ui:define name="body">
		<div class="centrer-column div-heigh-50rem">
			<h:outputLabel value="Votre annulation est confirmée!" />
			<h:form>
				<h:commandLink action="client"
					value="retourner sur la page de votre compte" />
			</h:form>
		</div>
	</ui:define>
</ui:composition>
</html>
