<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/clienttemp.xhtml">
	<ui:define name="head">
		<title>Confirmation d'inscription</title>
	</ui:define>
	<ui:define name="body">
		<div class="centrer-column div-heigh-50rem">
			<h:outputLabel value="Vous êtes maintenant inscrit!" />

			<h:outputLabel
				value="Veuillez vous connecter pour profiter notre site!" />
			<h:form>
				<h:commandLink action="login"
					value="retour sur la page de la connexion" />
			</h:form>
		</div>
	</ui:define>
</ui:composition>


</html>
