<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/clienttemp.xhtml">
	<ui:define name="head">
		<title>Chose your bedroom</title>
	</ui:define>

	<ui:define name="body">


		<ui:repeat value="#{mbBedroom.bedrooms}" var="FoundBedrooms">
			
	<b:container fluid="true">
				<b:panelGrid colSpans="12" id="stateGridId"
					large-screen="full-width">


					<b:panel title="Chambre numéro #{FoundBedrooms.idbedroom}"  look="primary" >
					
						<div>
							<h:outputText value="Chambre de #{FoundBedrooms.capacity} personne(s)" />
						</div>
						<div>
							<h:outputText value="Prix par nuit: #{FoundBedrooms.price}€"  />
						</div>

						<div>
							<h:outputText value="Superficie: #{FoundBedrooms.size} m²" />
						</div>
						

					
						<div >
							<b:form class="right-side-button">
								<h:outputLabel value="Rechercher votre chambre en utilisant la barre de recherche en haut de la page afin de réserver" rendered="#{mbHotel.conditionReservationNotOK()}"/>
								<b:commandButton type="submit"
									class="btn btn-primary  btn-info buttonslogin btn-detail-clientmain"
									value="Reserver"
									action = "#{mbBedroom.ReserveBedroom(FoundBedrooms.idbedroom)}" rendered="#{mbHotel.conditionReservationOK()}"/>
							</b:form>
						</div>
					</b:panel>

				</b:panelGrid>
			</b:container>






		</ui:repeat>

	</ui:define>

</ui:composition>
</html>