<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/clienttemp.xhtml">
	<ui:define name="head">
		<title>Connexion</title>
	</ui:define>
	<ui:define name="body">
		<div class="card text-white bg-primary mb-3" id="logincard">
			<b:form id="loginForm2">


				<!-- 					<div class="form-group" id="divlogincard"> -->

				<h:outputLabel value="Authentification" id="loginheader" />

				<b:inputText class="textarealogin" fieldId="login" name="login"
					value="#{mbClientAccount.login}" label="Login" id="inpLogin" placeholder="démo login: luc"/>
				
				
				<b:inputSecret class="textarealogin" fieldId="password" placeholder="démo mdp: luc"
					name="password" value="#{mbClientAccount.password}"
					label="Mot de passe" id="inpPassword"/>
				<b:message for="inpPassword" />
				
				<b:commandButton
					class="btn btn-primary btn-lg btn-info buttonslogin"
					value="Connexion" action="#{mbClientAccount.connect()}" />
				<b:commandButton
					class="btn btn-primary btn-lg btn-info buttonslogin"
					value="Inscription" action="/newclientprofil.xhtml" />
				



			</b:form>
		</div>
	</ui:define>
</ui:composition>
</html>
