<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:b="http://bootsfaces.net/ui">

<h:head>
	<ui:insert name="head"></ui:insert>
	<h:outputStylesheet library="css" name="style.css" />
</h:head>

<h:body>

	<div class="webtitre">
		<h1>COSY BED RESERVATION</h1>
	</div>


	<b:container>
		<b:row>
			<b:column style-class="log-content">
				<ui:insert name="content"></ui:insert>
			</b:column>
		</b:row>
	</b:container>

	<div class="webfooter">
		<h6>cosy bed reservation - 2022</h6>
		<h6>Copyright © www.cbr.com™. Tous droits réservés.</h6>
	</div>
</h:body>


</html>