<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/clienttemp.xhtml">
	<ui:define name="head">
		<title>Créer votre profil</title>
	</ui:define>
	<ui:define name="body">

		<div>

			<fieldset>
				<legend>Inscription</legend>
				<b:form id="signupForm">
					<b:message for="inpsignupfail" id="inpsignupfail" />
					<div class="form-group">
						<fieldset>
							<label class="control-label">Login*</label>
							<b:inputText class="form-control"
								value="#{mbClientAccount.newlogin}"></b:inputText>
							<small class="form-text text-muted">Champ obligatoire</small>
						</fieldset>
						<b:message for="inpsignup" id="inpsignup" />
					</div>

					<div class="form-group">
						<label for="exampleInputPassword1">Mot de passe*</label>
						<b:inputText type="password" class="form-control"
							value="#{mbClientAccount.newpassword}"></b:inputText>
						<small class="form-text text-muted">Champ obligatoire</small>
					</div>

					<div class="form-group">
						<label for="exampleInputPassword1">Confirmation mot de
							passe*</label>
						<b:inputText type="password" class="form-control"
							value="#{mbClientAccount.confirmnewpassword}"></b:inputText>
						<small class="form-text text-muted">Champ obligatoire</small>
					</div>

					<div class="form-group">
						<label>Nom*</label>
						<b:inputText class="form-control"
							value="#{mbClientAccount.newsurname}"></b:inputText>
						<small class="form-text text-muted">Champ obligatoire</small>

					</div>

					<div class="form-group">
						<label>Prénom*</label>
						<b:inputText class="form-control"
							value="#{mbClientAccount.newname}"></b:inputText>
						<small class="form-text text-muted">Champ obligatoire</small>

					</div>

					<div class="form-group">



						<label>Date de naissance*</label>
						<b:dateTimePicker format="DD/MM/YYYY" locale="fr"
							value="#{mbClientAccount.newbirthdaystring}"
							style="max-width: 100%;"
							placeholder="Veuillez utiliser le calendrier à gauche"
							icon-position="left" />
						<small class="form-text text-muted">Champ obligatoire</small>
					</div>

					<div class="form-group">
						<label>Adresse mail</label>
						<b:inputText class="form-control"
							value="#{mbClientAccount.newadressmail}"></b:inputText>

					</div>

					<div class="form-group">
						<label>Numéro de téléphone</label>
						<b:inputText class="form-control"
							value="#{mbClientAccount.newphonenumber}"></b:inputText>

					</div>


					<div class="form-check">
						<label class="form-check-label"> <input
							class="form-check-input" type="checkbox" value="" checked=""
							disabled=""> J'accepte les conditions générales
								d'utilisation</input>
						</label>
					</div>

					<b:commandButton type="submit" class="btn btn-primary"
						value="Inscrir" action="#{mbClientAccount.signup()}" />

				</b:form>

			</fieldset>

		</div>
	</ui:define>
</ui:composition>
</html>
