<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/clienttemp.xhtml">
	<ui:define name="head">
		<title>Votre recherche</title>
	</ui:define>

	<ui:define name="body">

		<h:outputLabel value="Hôtels correspond à votre recherche:"
			style="font-size: 25px;" />
		<ui:repeat value="#{mbHotel.hotels}" var="FoundHotels">







			<b:container fluid="true">
				<b:panelGrid colSpans="12" id="stateGridId"
					large-screen="full-width">


					<b:panel
						title="#{FoundHotels.hotelname.toUpperCase()}"  
						look="primary">

						<b:row>
							<b:column span="10">
								<h:outputLabel
									value="#{FoundHotels.streetnumber} #{FoundHotels.streetname}#{FoundHotels.complement}, #{(FoundHotels.getCity()).getCityname()}" />
							</b:column>
							<b:column span="2">
								<h:outputLabel
									value="Note: #{mbHotel.calculateAverageRating(FoundHotels.getIdhotel())}" />
							</b:column>
						</b:row>

						<b:row>
							<b:column span="10">
								<h:outputLabel
									value="Capacité de chambre: #{FoundHotels.chambercount}" />
							</b:column>
							<b:column span="2">
								<h:outputLabel value="À partir de: #{mbBedroom.findMiniPrice(FoundHotels.getIdhotel())}€" />
							</b:column>
						</b:row>
						<div>
							<h:outputLabel value="Résumé: #{FoundHotels.resume}" style="font-style: italic;"/>
						</div>

						<div class="div-pics1" id="pic-hotel-display">
							<ui:repeat value="#{FoundHotels.photos}" var="pics">
								<div class="div-pic-block-countain">
									<b:image library="pictures" name="#{pics.photoname}"
										id="displayhotelpics"
										style="width:26rem; height:17rem; padding: 1rem;border-radius: 1.5rem;" />
								</div>
							</ui:repeat>
						</div>

						<div>
							<b:form class="right-side-button">
								<b:commandButton type="submit"
									class="btn btn-primary  btn-info buttonslogin btn-detail-clientmain"
									value="Détail"
									action="#{mbBedroom.FindAvailableBedroomByIdhotel(FoundHotels.idhotel)}" />
								<b:message for="@previous" />
							</b:form>
						</div>

					</b:panel>

				</b:panelGrid>
			</b:container>



		</ui:repeat>

	</ui:define>

</ui:composition>
</html>