<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/clienttemp.xhtml">
	<ui:define name="head">
		<title>Dites nous votre expérience</title>
	</ui:define>
	<ui:define name="body">
		<div>
			<b:form id="reviewForm">
				<h:outputLabel
					value="Veuillez nous raconter votre expérience chez #{mbHotel.reserchHotelByIdhotel(mbClientAccount.reservation.getIdreservation()).getHotelname()}!" />
				<b:inputText label="Note" labelStyle="width:80px;"
					value="#{mbClientAccount.rating}"
					placeholder="Une note en chiffre entier entre 1 à 5">
					<f:facet name="append">
						<h:outputText value="/5" />
					</f:facet>
				</b:inputText>

				<b:inputTextarea
					placeholder="Résumer votre expérience en une phrase pour un Varchar(255)"
					value="#{mbClientAccount.comment}">

				</b:inputTextarea>

				<b:commandButton type="submit"
					class="btn btn-primary btn-lg btn-info buttonslogin"
					value="Enregistrer" action="#{mbClientAccount.writeReview()}" />
					<b:message id="inpreview" for="inpreview"/>
			</b:form>
		</div>
	</ui:define>
</ui:composition>
</html>
