<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/clientmaintemp.xhtml">
	<ui:define name="head">
		<title>Welcome to COSY BED RESERVATION</title>
	</ui:define>

	<ui:define name="body">
		<h:outputLabel value="#{mbBedroom.findMiniPrice(1)}" />
		<b:form>
			<b:commandButton type="submit" class="btn btn-default"
				action="#{mbHotel.orderByPrice()}" value="Recherche" />

		</b:form>

	</ui:define>

</ui:composition>
</html>